.rebar3
_build
.DS_Store
generated.config
generated.conf
ebin/
etc/
doc/
.eunit
deps
cuttlefish
*.sublime-project
*.sublime-workspace
log
.local_dialyzer_plt
erln8.config
test_fixtures/escript_prune_test/generated.config/*
