# rebar and tools
/.cache/
/.eunit/
/.rebar/
/.rebar3/
/_build/
/_checkouts/
/deps/
/rebar.lock

# build/test artifacts
*.crashdump
.local_dialyzer_plt
/ebin/
cuttlefish
erln8.config
generated.conf
generated.config
log/
src/conf_parse.erl
src/cuttlefish_duration_parse.erl
test_fixtures/escript_prune_test/generated.config/*

# work environments
*.bak
*.iml
*.sublime-project
*.sublime-workspace
*~
.DS_Store
.idea/
.project
.settings/
.tm_properties
