%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2013-2016 Basho Technologies, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------

{brt_protect, true}.

{erl_opts, [
    % warn_export_all,  % only in validate profile for now
    warn_export_vars,
    warn_obsolete_guard,
    warn_untyped_record,
    warnings_as_errors,
    {parse_transform, lager_transform}
]}.

{escript_emu_args,
    "%%! -escript main cuttlefish_escript -smp disable +A 0\n"}.

{escript_incl_apps, [
    getopt,
    goldrush,
    lager
]}.

{provider_hooks, [
    {post, [
        {compile, escriptize}
    ]}
]}.

{deps, [
    {getopt,
        {git, "https://github.com/basho/getopt.git",
        {branch, "master"} }},
    {lager,
        {git, "https://github.com/basho/lager.git",
        {branch, "master"} }}
]}.

{profiles, [
    {check, [
        {dialyzer, [
            {warnings, [
                error_handling,
                race_conditions,
                unknown,
                unmatched_returns
            ]}
        ]},
        {erl_opts, [
            debug_info,
            warn_unused_import,
            {d, 'BASHO_CHECK'}
        ]},
        {overrides, [
            {add, getopt,   [{erl_opts, [debug_info]}]},
            {add, lager,    [{erl_opts, [debug_info]}]}
        ]},
        {xref_checks, [
            deprecated_function_calls,
            deprecated_functions,
            locals_not_used,
            undefined_function_calls,
            undefined_functions
        ]}
    ]},
    {docs, [
        {edoc_opts, [
            {app_default, "http://www.erlang.org/doc/man"},
            {preprocess, true},
            {macros, [
                {'EDOC', true},
                {'BASHO_DOCS', true}
            ]}
        ]}
    ]},
    {prod, [
        {erl_opts, [
            warn_unused_import,
            {d, 'BASHO_PROD'}
        ]}
    ]},
    {test, [
        {cover_enabled, true},
        {erl_opts, [
            debug_info,
            nowarn_deprecated_function,
            nowarn_unused_function,
            {d, 'BASHO_TEST'}
        ]},
        {eunit_opts, [
            verbose
        ]}
    ]},
    {validate, [
        {erl_opts, [
            strong_validation,
            warn_export_all,    % this should be in all but the test profile
            warn_missing_spec,
            warn_untyped_record,
            warn_unused_import,
            {d, 'BASHO_VALIDATE'}
        ]}
    ]}
]}.

{plugins, [
    {basho_rebar_tools,
        {git, "https://github.com/basho/basho_rebar_tools.git",
        {branch, "master"} }}
]}.
