{minimum_otp_vsn, "21.3"}.

{project_plugins, [rebar3_hex]}.

{erl_opts, [warnings_as_errors,
            debug_info,
            warn_untyped_record]}.

{deps, [getopt]}.

{escript_emu_args, "%%! -escript main cuttlefish_escript +S 1 +A 0\n"}.
{escript_incl_apps, [getopt, cuttlefish]}.
{escript_main_app, cuttlefish}.

{provider_hooks, [{post, [{compile, {default, escriptize}}]}]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.

{profiles, [{dev, [{deps, [neotoma]},
                   {plugins, [rebar3_neotoma_plugin]}]},
            {test, [{deps, [bbmustache]}]}]}.
